.About {
  padding-left: 14%;
  padding-top: 10px;
  display: block;
  max-width: 1000px;
}
.About img {
  width: 230px;
  display: block;
  float: left;
  padding-right: 10px;
  padding-top: 8px;
}

.Bio {
  float: left;
  display: block;
  padding-top: 20px;
}

.t {
  float: left;
  display: block;
}


@media only screen and (max-width: 700px) {
    .About {
        padding-left: 1%;
    }
}