.navs {
    display: block;
    position: fixed;
    float: left;
    width: 150px;
    background-color: lightgray;
    height:100vh;
    margin-top: 8px;
}

.gallery {
    display: block;
    float: left;
    width: 70%;
    padding-left: 30px;
    margin-left: 150px;

}

.carousel-indicators {
    margin-left: 9vw;
    justify-content: left;
}
.gallery img{
    height: 600px;

}
.carousel-control-prev {
    display: none;
}
.carousel-control-next {
    display: none;
}

.entry {
    padding-bottom: 20px;
}

.navs button {
    background-color:lightgray;
    border: none;
    margin-top: 20px;
    margin: 10px;
    padding: 0px;

    
}

.navs button:hover {
    color:rebeccapurple 
  }